*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add,
.update,
.back{
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    width: 250px;
    margin:10px auto;
    text-transform: uppercase;
    font-weight: 600;
}

#list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards{
    width: 200px;
    height: 350px;
    margin: 25px;

    .poster{
        &:hover{
            box-shadow: 0px 0px 20px 5px;
        }
        img{
            width: 100%;
            height: 100%;
            
        }
    }
}

.container{
    label{
        text-transform: uppercase;
    }
    button{
        padding:5px 10px;
        text-align: center;
        margin: auto;
    }
}